<div class="user-details">
	<h2 class="modal-title">{{#if edit}}edit{{else}}create{{/if}} user</h2>
	<div class="modal-content">
		<div class="input-row">
			<label for="username">username</label>
			<input placeholder="username" type="text" id="username" name="username" value="{{ username }}">
		</div>
		<div class="input-row">
			<label for="password">password</label>
			<input placeholder="password" type="password" id="password" name="password">
		</div>
		<div class="input-row">
			<label for="role">role</label>
			<input placeholder="role" type="text" id="role" name="role" value="{{ role }}">
		</div>
		<div class="input-row">
			<label for="email">email</label>
			<input placeholder="email" type="email" id="email" name="email" value="{{ email }}">
		</div>
	</div>
	<div class="modal-buttons">
		{{#if edit}}
		<button id="removeUser" class="btn btn--red">remove</button>
		{{/if}}
		{{#if edit}}
		<button type="submit" id="saveUser" class="btn btn--primary">save</button>
		{{else}}
		<button type="submit" id="saveUser" class="btn btn--primary">create</button>
		{{/if}}
	</div>
</div>
