<div class="table">
    <div class="tableRow">
        <div class="tableCell">
            Username
        </div>
        <div class="tableCell">
            Role
        </div>
        <div class="tableCell">
            Email
        </div>
    </div>
    {{#each items}}
    <div class="tableRow" data-id="{{id}}">
        <div class="tableCell">
            {{ username }}
        </div>
        <div class="tableCell">
            {{ role }}
        </div>
        <div class="tableCell">
            {{ email }}
        </div>
        <div class="tableCell edit">
            {{ ../edit }}
        </div>
    </div>
    {{/each}}
    <div class="add">{{ add }}</div>
</div>