@import '../common/settings';

.login {
  margin: 80px auto;
  padding: 30px;
  max-width: 350px;
  background-color: white;

  .logo {
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }

  .btn--primary {
    margin-top: 15px;
  }
  
  label {
    display: none;
  }
}
