@import "../common/settings";

.dishes--item {
  background: white;
  width: 220px;
  cursor: pointer;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  height: 230px;
  border: 1px solid $secondaryGray;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;

  img {
    width: 220px;
    max-height: 130px;
  }

  .info {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  .title {
    padding: 0 10px 0 10px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    overflow: hidden;
    height: 20px;
  }

  .description, .price {
    margin: 0;
    height: 40px;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    color: lighten($primaryGray, 10%);
  }

  .price {
    height: 30px;
    display: block;
    font-weight: 600;
    text-align: center;
  }
}

.category {

  & h3 {
    display: inline-block;
    font-weight: 600;
    margin: 0 0 5px;
    text-transform: uppercase;
  }
}

#categorylinks {
  width: 200px;
  float: left;

  & ul {
    left: 10px;
    margin: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    list-style: none;

    & li {
      color: #555555;
      padding: 5px 0;
    }
  }
}

.backend.dishes--item {
  background: #ffffff;
  width: calc(20% - 12px);
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  min-height: 285px;
  margin: 5px;
  border: 1px solid lightgrey;

  &[data-new='true'] .remove {
    display: none;
  }

  .image {
    display: block;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
  }

  .title {
    padding: 10px 10px 0 10px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .description, .price {
    margin: 0;
    padding: 10px;
  }

  input, textarea {
    width: 100%;
    margin-bottom: 5px;
  }
}

.destroy {
  color: #cc3333;
  font-weight: bold;
  font-size: 15px;
  margin-left: 3px;
  padding: 2px 4px;
  border-radius: 2px;
  background: #ffffff;
  transition: all 150ms;

  &:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #cc3333;
  }
}
