.dishes {
  width: 100%;
}

.dishes--item {
  background: #FFFFFF;
  width: calc(25% - 12px);
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  height: 285px;
  margin: 5px;
  border: 1px solid lightgrey;

  .image {
    display: block;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    padding: 10px 10px 0 10px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .description, .price {
    margin: 0;
    padding: 10px;
  }
}
