<div class="settings">
	<div class="settings-content">
	<h4>administration</h4>
	<div class="input-row">
		<label for="apiuri">api root url</label>
		<input type="text" name="apiuri" id="apiuri" value="{{ tech.apiurl }}">
	</div>

	<h4>company</h4>
	<div class="input-row">
		<label for="name">restaurant name</label>
		<input type="text" name="name" id="name" value="{{ company.name }}">
	</div>
	<div class="input-row">
		<label for="color">corporate color</label>
		<input type="color" name="color" id="color" value="{{ company.color }}">
	</div>

	<h4>localisation</h4>
	<div class="input-row">
		<label for="locale">country code</label>
		<input type="text" name="locale" id="locale" value="{{ geo.locale }}"><br>
	</div>
	<div class="input-row">
		<label for="currency">currency symbol</label>
		<input type="text" name="currency" id="currency" value="{{ geo.currency.symbol }}"><br>
	</div>

		<div class="input-row">
			<label></label>
			<button class="btn btn--secondary" type="submit">Save</button>
		</div>
	</div>
</div>
