<h4>Tech-Things</h4>
<label for="apiuri">API URI:</label>
<input type="text" name="apiuri" value="{{ tech.apiuri }}">
<h4>Company</h4>
<label for="name">Name:</label>
<input type="text" name="name" value="{{ company.name }}"><br>
<label for="color">CI Color:</label>
<input type="color" name="color" value="{{ company.color }}">
<h4>Geo</h4>
<label for="locale">Country Code:</label>
<input type="text" name="locale" value="{{ geo.locale }}"><br>
<label for="currency">Currency:</label>
<input type="text" name="currency" value="{{ geo.currency }}">