@import "settings";

* {
  box-sizing: border-box;
  font-family: $defaultFontFamily;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $backgroundColor;

  main {
    &.backend {
      padding: 20px;
      margin: 36px auto 0 200px;
    }

    &.frontend {
      padding: 20px;
      margin: 36px auto 0;
    }
  }
}
