@import "settings";

* {
  box-sizing: border-box;
  font-family: $defaultFontFamily;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $backgroundColor;

  main {
    margin: 36px auto 0;
    padding: 20px;
    background: white;
    border-bottom: 1px solid $secondaryGray;

    &.backend {
      margin-left: 200px;
    }
  }
}
