@import "settings";

input, textarea {
  margin-bottom: 10px;
  padding: 7px 6px 6px;
  width: 100%;
  outline: none;
  border: 1px solid $secondaryGray;
  border-radius: $defaultBorderRadius;
  color: #2a2a2a;
  font-weight: 400;
  font-size: 13px;
  transition: border-color $defaultAnimationTime;
  -webkit-appearance: none;

  &:hover, &:focus {
    border-color: darken($secondaryGray, 10%);
  }
}

label {
  // Well we are working with placeholders
  display: none;
}

textarea {
  height: 75px;
  resize: none;
}
