@import "settings";

.modal-bg {
  background: rgba(0,0,0,0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal {
  background: #FFF;
  border-radius: $defaultBorderRadius;
  left: 50%;
  max-width: 470px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;

  .modal-title {
    padding: 8px;
    margin: 0 0 12px;
    font-size: 18px;
    text-align: center;
    //border-bottom: 1px solid $secondaryGray;
    background: $secondaryGray;
    font-weight: 400;
  }

  .modal-buttons {
    text-align: right;
    background: $secondaryGray;
    padding: 7px;
  }

  .modal-content {
    margin: 5px 0;
  }
}
