// colors
$backgroundColor: rgb(255, 255, 255) !default;

$primaryGray: rgb(42, 42, 42) !default;
$secondaryGray: rgb(219, 219, 219) !default;

$primaryRed: rgb(204, 51, 51) !default;
$accentColor: rgb(25, 73, 150) !default;
$defaultConfirmColor: rgb(51, 153, 102) !default;


// fonts
$defaultFontFamily: 'Open Sans', sans-serif !default;

// misc
$defaultBorderRadius: 0px;
$defaultAnimationTime: 150ms;
