// colors
$backgroundColor: rgb(250, 250, 250);
$secondaryGray: rgb(219, 219, 219);
$accentColor: #336699;

// fonts
$defaultFontFamily: 'Open Sans', sans-serif;

// misc
$defaultBorderRadius: 3px;
$defaultAnimationTime: 150ms;
