@import "settings";

.table {
  display: table;
  width: 100%;

  .tableRow {
    display: table-row;

    &.tableHeader {
      background: $secondaryGray;
      font-weight: 700;
    }

    .tableCell {
      display: table-cell;
      font-size: 90%;
      padding: 4px 10px;
      border-bottom: 1px solid $secondaryGray;
    }
  }
}
