.order {
  background: #FFFFFF;
  border-left: 5px #880000 solid;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: 0.2s ease transform;
  width: 25%;

  &.out {
    transform: translate3d(0,0,0);
  }
}

#toggle {
  background: #880000;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  position: absolute;
  top: 0;
  margin-left: -55px;
  height: 50px;
  text-align: center;
  width: 50px;
}

#submitOrder {
  background: #555500;
  color: #FFFFFF;
  border: none;
  height: 30px;
  margin: 10px;
  width: calc(100% - 20px);
}

.order__wrapper {
  height: calc(100% - 50px);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.order--item {
  & img {
    width: 100%;
  }
}



.order__list--item {
  background: #e0e8e0;
  margin: 5px;
  padding: 5px;

  & .nr {
    background: rgba(0, 174, 0, 0.70);
    color: #FFF;
    display: inline-block;
    padding: 7px;
  }

  & .ordertimestamp {
    display: inline-block;
  }

  & .tablenumber {
    float: right;
  }

  & .order__list--item--dishes {
    padding: 10px 0px 10px 15px;

    & .nr {
      background: rgba(0, 174, 0, 0.47);
    }

    & .name {
      display: inline-block;
      margin: 0;
    }
  }
}