<div class="login">
	<img class="logo" src="assets/waiterio-logo.png"/>
	<form>
		<div class="username-block">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" class="full" placeholder="Username" autofocus="autofocus">
		</div>
		<div class="password-block">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="full" placeholder="Password">
		</div>
		<button type="submit" class="btn btn--primary btn--full">Log in</button>
	</form>
</div>
