@import "../common/settings";

.settings {
  padding: 0;

  .input-row {
    &:first-of-type {
      margin-top: 20px;
    }

    label {
      width: 120px;
      display: inline-block;
      text-align: right;
      margin-right: 10px;
    }

    input {
      display: inline-block;
    }

    .btn {
      margin-top: 30px;
    }
  }
}
