@import "../common/settings";

.settings {
  max-width: 720px;
  margin: 0 auto;
  background: white;
  border: 1px solid $secondaryGray;
  border-radius: $defaultBorderRadius;
  padding: 20px;


  .input-row {

    label {
      width: 130px;
      display: inline-block;
      text-align: right;
      margin-right: 10px;
    }
    input {
      display: inline-block;
    }
  }
}
