@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white; }
  html main.backend, body main.backend {
    padding: 20px;
    margin: 36px auto 0 200px; }
  html main.frontend, body main.frontend {
    padding: 20px;
    margin: 36px auto 0; }

input, textarea {
  margin-bottom: 10px;
  padding: 5px 6px;
  min-width: 280px;
  outline: none;
  border: 1px solid #dbdbdb;
  border-radius: 0px;
  color: #2a2a2a;
  font-weight: 400;
  font-size: 13px;
  transition: border-color 150ms;
  -webkit-appearance: none; }
  input:hover, input:focus, textarea:hover, textarea:focus {
    border-color: #a8a8a8; }
  input.full, textarea.full {
    width: 100%;
    min-width: 0; }
  input[type=color], textarea[type=color] {
    padding: 0 2px;
    min-width: 60px; }

label {
  color: #2a2a2a;
  font-size: 13px;
  font-weight: 600; }

textarea {
  height: 75px;
  resize: none; }

.btn {
  display: inline-block;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: 1px solid #dbdbdb;
  border-radius: 0px;
  outline: none;
  cursor: pointer; }
  .btn[disabled], .btn.btn--disabled {
    opacity: 0.5;
    cursor: default; }
  .btn:hover {
    text-decoration: none; }
  .btn.btn--big {
    padding: 10px 26px; }
  .btn.btn--full {
    display: block;
    width: 100%; }
  .btn.btn--primary {
    color: white;
    border-color: #194996;
    background: #194996; }
    .btn.btn--primary:hover:not(:disabled), .btn.btn--primary:active:not(:disabled) {
      background: #1e58b5;
      border-color: #1e58b5; }
  .btn.btn--secondary {
    color: #194996;
    border-color: #194996;
    background: transparent; }
    .btn.btn--secondary:hover:not(:disabled), .btn.btn--secondary:active:not(:disabled) {
      color: #407ddf;
      border-color: #407ddf; }
  .btn.btn--tertiary {
    color: #505050;
    border-color: #dbdbdb;
    background: #dbdbdb; }
    .btn.btn--tertiary:hover:not(:disabled) {
      background: #e8e8e8;
      border-color: #e8e8e8; }
  .btn.btn--red {
    color: white;
    border-color: #cc3333;
    background: #cc3333; }
    .btn.btn--red:hover:not(:disabled) {
      background: #d14747;
      border-color: #d14747; }

.btn-group {
  display: flex; }
  .btn-group .btn {
    margin: 0;
    border-radius: 0; }
    .btn-group .btn + .btn {
      border-left: 0; }
    .btn-group .btn:first-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px; }
    .btn-group .btn:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  .btn-group--justify {
    width: 100%; }
    .btn-group--justify .btn {
      flex: 1 0 auto; }

.tabGroup {
  font: 10pt arial, verdana;
  max-width: 935px; }
  .tabGroup > input[type="radio"] {
    display: none; }
  .tabGroup > div.tablabels {
    display: inline-block;
    vertical-align: top;
    width: 200px; }
    .tabGroup > div.tablabels > label {
      display: inline-block;
      width: 100%;
      font-size: 15px;
      font-weight: 300;
      padding: 5px 20px;
      z-index: 32767; }
      .tabGroup > div.tablabels > label:hover {
        cursor: pointer; }
  .tabGroup > div.tabcontent {
    display: inline-block;
    height: 400px;
    margin-left: -4px; }
    .tabGroup > div.tabcontent > div {
      width: 100%;
      display: none;
      border-left: 1px solid #dbdbdb;
      padding: 10px 10px;
      height: 100%;
      overflow: auto; }

.tabGroup > input#rad1:checked ~ div.tablabels > label[for="rad1"],
.tabGroup > input#rad2:checked ~ div.tablabels > label[for="rad2"],
.tabGroup > input#rad3:checked ~ div.tablabels > label[for="rad3"] {
  background-color: #dbdbdb;
  padding-left: 20px;
  position: relative; }

.tabGroup > .tab1:checked ~ div.tabcontent > .tab1,
.tabGroup > .tab2:checked ~ div.tabcontent > .tab2,
.tabGroup > .tab3:checked ~ div.tabcontent > .tab3 {
  display: inline-block; }

.table {
  display: table;
  width: 100%;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb; }
  .table .tableRow {
    display: table-row; }
    .table .tableRow:hover {
      background: #ededed;
      cursor: pointer; }
    .table .tableRow.tableHeader {
      background: #dbdbdb;
      font-weight: 600;
      height: 32px; }
    .table .tableRow .tableCell {
      display: table-cell;
      font-size: 90%;
      vertical-align: middle;
      padding: 4px 10px;
      border-bottom: 1px solid #dbdbdb; }

.modal-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%; }

.modal {
  background: #FFF;
  border-radius: 0px;
  left: 50%;
  max-width: 470px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%; }
  .modal .modal-title {
    padding: 8px;
    margin: 0 0 12px;
    font-size: 18px;
    text-align: center;
    background: #dbdbdb;
    font-weight: 400; }
  .modal .modal-buttons {
    text-align: right;
    background: #dbdbdb;
    padding: 7px; }
  .modal .modal-content {
    margin: 5px 0; }

nav.sidebar {
  background: #e5e5e5;
  height: 100%;
  width: 200px;
  position: fixed;
  top: 36px; }
  nav.sidebar ul {
    list-style: none;
    padding-left: 0; }
    nav.sidebar ul > li {
      line-height: 32px;
      font-weight: 400;
      font-size: 90%; }
      nav.sidebar ul > li:hover {
        cursor: pointer;
        background: #c9c9c9; }
      nav.sidebar ul > li.active {
        font-weight: 600;
        background: #c9c9c9; }
      nav.sidebar ul > li a {
        padding-left: 15px;
        text-decoration: none;
        display: block;
        color: #2a2a2a; }

.login {
  margin: 80px auto;
  padding: 30px;
  max-width: 350px;
  background-color: white; }
  .login .logo {
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto; }
  .login .btn--primary {
    margin-top: 15px; }
  .login label {
    display: none; }

.dishes--item {
  background: white;
  width: 220px;
  cursor: pointer;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  height: 230px;
  border: 1px solid #dbdbdb;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px; }
  .dishes--item img {
    width: 220px;
    max-height: 130px; }
  .dishes--item .info {
    display: inline-block;
    vertical-align: top;
    width: 100%; }
  .dishes--item .title {
    padding: 0 10px 0 10px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    overflow: hidden;
    height: 20px; }
  .dishes--item .description, .dishes--item .price {
    margin: 0;
    height: 40px;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    color: #444444; }
  .dishes--item .price {
    height: 30px;
    display: block;
    font-weight: 600;
    text-align: center; }

.category h3 {
  display: inline-block;
  font-weight: 600;
  margin: 0 0 5px;
  text-transform: uppercase; }

#categorylinks {
  width: 200px;
  float: left; }
  #categorylinks ul {
    left: 10px;
    margin: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    list-style: none; }
    #categorylinks ul li {
      color: #555555;
      padding: 5px 0; }

.backend.dishes--item {
  background: #ffffff;
  width: calc(20% - 12px);
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  min-height: 285px;
  margin: 5px;
  border: 1px solid lightgrey; }
  .backend.dishes--item[data-new='true'] .remove {
    display: none; }
  .backend.dishes--item .image {
    display: block;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px; }
  .backend.dishes--item .title {
    padding: 10px 10px 0 10px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .backend.dishes--item .description, .backend.dishes--item .price {
    margin: 0;
    padding: 10px; }
  .backend.dishes--item input, .backend.dishes--item textarea {
    width: 100%;
    margin-bottom: 5px; }

.destroy {
  color: #cc3333;
  font-weight: bold;
  font-size: 15px;
  margin-left: 3px;
  padding: 2px 4px;
  border-radius: 2px;
  background: #ffffff;
  transition: all 150ms; }
  .destroy:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #cc3333; }

.order {
  background: #FFFFFF;
  border-left: 5px #880000 solid;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: 0.2s ease transform;
  width: 25%; }
  .order.out {
    transform: translate3d(0, 0, 0); }

#toggle {
  background: #880000;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  position: absolute;
  top: 0;
  margin-left: -55px;
  height: 50px;
  text-align: center;
  width: 50px; }

#submitOrder {
  background: #555500;
  color: #FFFFFF;
  border: none;
  height: 30px;
  margin: 10px;
  width: calc(100% - 20px); }

.order__wrapper {
  height: calc(100% - 50px);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%; }

.order--item img {
  width: 100%; }

.order {
  background: #FFFFFF;
  border-left: 5px #880000 solid;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: 0.2s ease transform;
  width: 25%; }
  .order.out {
    transform: translate3d(0, 0, 0); }

#toggle {
  background: #880000;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  position: absolute;
  top: 0;
  margin-left: -55px;
  height: 50px;
  text-align: center;
  width: 50px; }

#submitOrder {
  background: #555500;
  color: #FFFFFF;
  border: none;
  height: 30px;
  margin: 10px;
  width: calc(100% - 20px); }

.order__wrapper {
  height: calc(100% - 50px);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%; }

.order--item img {
  width: 100%; }

.settings {
  padding: 0; }
  .settings .input-row:first-of-type {
    margin-top: 20px; }
  .settings .input-row label {
    width: 120px;
    display: inline-block;
    text-align: right;
    margin-right: 10px; }
  .settings .input-row input {
    display: inline-block; }
  .settings .input-row .btn {
    margin-top: 30px; }

.user-details {
  max-width: 400px; }
  .user-details label {
    width: 120px;
    display: inline-block;
    text-align: right;
    margin-right: 10px; }

.addRow {
  width: 100%;
  margin-top: 15px; }

header {
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
  background: #194996;
  color: white;
  height: 36px;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0; }
  header h1 {
    margin: 0;
    font-size: 17px;
    line-height: 34px;
    font-weight: 400;
    display: inline-block; }
  header .logout-button {
    float: right;
    color: #6395e5;
    vertical-align: middle;
    line-height: 36px; }
    header .logout-button:hover {
      cursor: pointer;
      color: white; }

.order__list--item {
  border: 1px solid #dbdbdb;
  margin: 5px;
  clear: both; }
  .order__list--item .order-description {
    padding: 10px;
    width: 85%;
    display: inline-block; }
  .order__list--item .actions {
    float: right;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 10px; }
    .order__list--item .actions .done {
      color: white;
      background: #339966;
      width: 35px;
      font-size: 24px; }
      .order__list--item .actions .done:hover {
        background: #40bf80;
        cursor: pointer; }
  .order__list--item .item-id {
    font-size: 12px;
    font-family: monospace; }
  .order__list--item .order-timestamp {
    display: inline-block;
    margin: 0 0 0 5px; }
  .order__list--item .table-number {
    background: #194996;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    height: 32px;
    width: 32px;
    line-height: 32px; }
  .order__list--item .order__list--item--dishes {
    padding-left: 44px; }
    .order__list--item .order__list--item--dishes .name {
      display: inline-block;
      margin: 0; }
      .order__list--item .order__list--item--dishes .name:before {
        content: '»';
        font-size: 16px;
        line-height: 12px;
        margin-right: 5px;
        color: #2a2a2a; }

/*# sourceMappingURL=main.css.map */
