* {
  box-sizing: border-box;
  font-family: sans-serif; }

html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%; }

.dishes {
  display: inline-block;
  float: left;
  width: 70%;
  vertical-align: top; }

.dishes--item {
  width: calc(25% - 12px);
  display: inline-block;
  vertical-align: top;
  height: 285px;
  margin: 5px;
  border: 1px solid lightgrey; }
  .dishes--item:hover {
    cursor: pointer; }
  .dishes--item .image {
    display: block;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover; }
  .dishes--item .title {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .dishes--item .description, .dishes--item .price {
    margin: 0;
    padding: 10px; }

.sidebar {
  display: inline-block;
  float: right;
  width: 25%; }

.order__list--item {
  background: #e0e8e0;
  margin: 5px;
  padding: 5px; }
  .order__list--item .nr {
    background: rgba(0, 174, 0, 0.7);
    color: #FFF;
    display: inline-block;
    padding: 7px; }
  .order__list--item .ordertimestamp {
    display: inline-block; }
  .order__list--item .tablenumber {
    float: right; }
  .order__list--item .order__list--item--dishes {
    padding: 10px 0px 10px 15px; }
    .order__list--item .order__list--item--dishes .nr {
      background: rgba(0, 174, 0, 0.47); }
    .order__list--item .order__list--item--dishes .name {
      display: inline-block;
      margin: 0; }
