* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa; }

input, textarea {
  margin-bottom: 10px;
  padding: 5px 6px;
  min-width: 280px;
  outline: none;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #2a2a2a;
  font-weight: 400;
  font-size: 13px;
  transition: border-color 150ms;
  -webkit-appearance: none; }
  input:hover, input:focus, textarea:hover, textarea:focus {
    border-color: #a8a8a8; }
  input.full, textarea.full {
    width: 100%;
    min-width: 0; }
  input[type=color], textarea[type=color] {
    padding: 0 2px;
    min-width: 60px; }

label {
  color: #2a2a2a;
  font-size: 13px;
  font-weight: 600; }

textarea {
  height: 75px;
  resize: none; }

.btn {
  display: inline-block;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  outline: none;
  cursor: pointer; }
  .btn[disabled], .btn.btn--disabled {
    opacity: 0.5;
    cursor: default; }
  .btn:hover {
    text-decoration: none; }
  .btn.btn--big {
    padding: 10px 26px; }
  .btn.btn--full {
    display: block;
    width: 100%; }
  .btn.btn--primary {
    color: white;
    border-color: #33cc33;
    background-color: #33cc33; }
    .btn.btn--primary:hover:not(:disabled), .btn.btn--primary:active:not(:disabled) {
      background-color: #50d350;
      border-color: #50d350; }
  .btn.btn--secondary {
    color: #33cc33;
    border-color: #33cc33;
    background: transparent; }
    .btn.btn--secondary:hover:not(:disabled), .btn.btn--secondary:active:not(:disabled) {
      background-color: rgba(18, 18, 18, 0);
      border-color: #50d350; }

.btn-group {
  display: flex; }
  .btn-group .btn {
    margin: 0;
    border-radius: 0; }
    .btn-group .btn + .btn {
      border-left: 0; }
    .btn-group .btn:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .btn-group .btn:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  .btn-group--justify {
    width: 100%; }
    .btn-group--justify .btn {
      flex: 1 0 auto; }

.tabGroup {
  font: 10pt arial, verdana;
  max-width: 935px; }
  .tabGroup > input[type="radio"] {
    display: none; }
  .tabGroup > div.tablabels {
    display: inline-block;
    vertical-align: top;
    width: 200px; }
    .tabGroup > div.tablabels > label {
      display: inline-block;
      width: 100%;
      font-size: 15px;
      font-weight: 300;
      padding: 15px 20px;
      z-index: 32767; }
      .tabGroup > div.tablabels > label:hover {
        cursor: pointer; }
  .tabGroup > div.tabcontent {
    display: inline-block;
    height: 400px;
    margin-left: -4px; }
    .tabGroup > div.tabcontent > div {
      width: 100%;
      display: none;
      border-left: 1px solid #dbdbdb;
      padding: 10px 10px;
      height: 100%;
      overflow: auto; }

.tabGroup > input#rad1:checked ~ div.tablabels > label[for="rad1"],
.tabGroup > input#rad2:checked ~ div.tablabels > label[for="rad2"],
.tabGroup > input#rad3:checked ~ div.tablabels > label[for="rad3"] {
  background-color: #dbdbdb;
  padding-left: 20px;
  position: relative; }

.tabGroup > .tab1:checked ~ div.tabcontent > .tab1,
.tabGroup > .tab2:checked ~ div.tabcontent > .tab2,
.tabGroup > .tab3:checked ~ div.tabcontent > .tab3 {
  display: inline-block; }

#content {
  margin: 0 auto;
  width: 100%;
  max-width: 935px;
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 20px; }

.dishes--item {
  background: #ffffff;
  width: 100%;
  cursor: pointer;
  margin: 15px 0;
  padding: 5px; }
  .dishes--item img {
    width: 150px;
    height: auto; }
  .dishes--item .infos {
    display: inline-block;
    width: calc(100% - 160px);
    vertical-align: top; }
  .dishes--item .title {
    padding: 0px 10px 0 10px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0; }
  .dishes--item .description, .dishes--item .price {
    margin: 0;
    padding: 10px; }
  .dishes--item .price {
    float: right;
    padding-right: 35px; }

.category h3 {
  display: inline-block;
  font-weight: 200;
  margin-bottom: 5px;
  border-bottom: 1px solid; }

#categorylinks {
  width: 200px;
  float: left; }
  #categorylinks ul {
    left: 10px;
    margin: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    list-style: none; }
    #categorylinks ul li {
      color: #555555;
      padding: 5px 0; }

.backend.dishes--item {
  background: #ffffff;
  width: calc(25% - 12px);
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  min-height: 285px;
  margin: 5px;
  border: 1px solid lightgrey; }
  .backend.dishes--item[data-new='true'] .remove {
    display: none; }
  .backend.dishes--item .image {
    display: block;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px; }
  .backend.dishes--item .title {
    padding: 10px 10px 0 10px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .backend.dishes--item .description, .backend.dishes--item .price {
    margin: 0;
    padding: 10px; }
  .backend.dishes--item input, .backend.dishes--item textarea {
    width: 100%;
    margin-bottom: 5px; }

.destroy {
  color: #cc3333;
  font-weight: bold;
  font-size: 15px;
  margin-left: 3px;
  padding: 2px 4px;
  border-radius: 2px;
  background: #ffffff;
  transition: all 150ms; }
  .destroy:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #cc3333; }

.order {
  background: #FFFFFF;
  border-left: 5px #880000 solid;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: 0.2s ease transform;
  width: 25%; }
  .order.out {
    transform: translate3d(0, 0, 0); }

#toggle {
  background: #880000;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  position: absolute;
  top: 0;
  margin-left: -55px;
  height: 50px;
  text-align: center;
  width: 50px; }

#submitOrder {
  background: #555500;
  color: #FFFFFF;
  border: none;
  height: 30px;
  margin: 10px;
  width: calc(100% - 20px); }

.order__wrapper {
  height: calc(100% - 50px);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%; }

.order--item img {
  width: 100%; }

.order__list--item {
  background: #e0e8e0;
  margin: 5px;
  padding: 5px; }
  .order__list--item .nr {
    background: rgba(0, 174, 0, 0.7);
    color: #FFF;
    display: inline-block;
    padding: 7px; }
  .order__list--item .ordertimestamp {
    display: inline-block; }
  .order__list--item .tablenumber {
    float: right; }
  .order__list--item .order__list--item--dishes {
    padding: 10px 0px 10px 15px; }
    .order__list--item .order__list--item--dishes .nr {
      background: rgba(0, 174, 0, 0.47); }
    .order__list--item .order__list--item--dishes .name {
      display: inline-block;
      margin: 0; }

.login {
  margin: 100px auto;
  padding: 30px;
  max-width: 350px;
  border: 1px solid #dbdbdb;
  background-color: white; }
  .login .logo {
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto; }
  .login .btn--primary {
    margin-top: 15px; }
  .login label {
    display: none; }

.settings {
  max-width: 935px;
  margin: 0 auto;
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 0; }
  .settings .input-row:first-of-type {
    margin-top: 20px; }
  .settings .input-row label {
    width: 120px;
    display: inline-block;
    text-align: right;
    margin-right: 10px; }
  .settings .input-row input {
    display: inline-block; }
  .settings .input-row .btn {
    margin-top: 30px; }

/*# sourceMappingURL=main.css.map */
